* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(24, 103, 229), rgb(0, 44, 116), rgb(0, 4, 12));
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#login-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #0056b3;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.mic-container, .save-recording {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
}

.mic-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 98px;
    height: 98px;
}

.mic-icon {
    width: 105px;
    height: 105px;
    transform: translate(-3px);
}

.hidden {
    display: none;
}

.save-recording-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.save-recording-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-btn {
    background-color: #28a745;
    color: white;
}

#discard-btn {
    background-color: #dc3545;
    color: white;
}

/* Wave container to hold the lines */
.wave-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.wave-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* Individual wave line */
.wave {
    width: 4px;
    background-color: #FFD700; /* Yellow color like the image */
    margin: 0 2px;
}

/* Hide wave container by default */
.hidden {
    display: none;
}

#transcript {
    width: 40%;
    height: 10%;
    border: 1px solid black; 
    padding: 10px; 
    margin: 20px;
    background: rgb(255,255,255);
    border-radius: 10px;
}

.icon-icon-container {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.username {
    color: white;
}

.date {
    color: white;
    font-size: 25px;
}

.first-entry {
    color: white;
    margin: 10px;
}

.second-entry {
    color: white;
    margin: 10px;
}

.sidebar-subcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.advice {
    width: 60%;
    height: 20%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

.advice-title {
    color: white;
    font-size: 30px;
}
