* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background: rgb(88, 152, 255);
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#login-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #0056b3;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.mic-container, .save-recording {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
}

.mic-btn {
    background-color: #FF4757;
    border: none;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.mic-icon {
    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}

.save-recording-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.save-recording-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-btn {
    background-color: #28a745;
    color: white;
}

#discard-btn {
    background-color: #dc3545;
    color: white;
}

/* Wave container to hold the lines */
.wave-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.wave-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* Individual wave line */
.wave {
    width: 4px;
    background-color: #FFD700; /* Yellow color like the image */
    margin: 0 2px;
}

/* Hide wave container by default */
.hidden {
    display: none;
}

#transcript {
    width: 60%;
    height: 40%;
    border: 1px solid black; 
    padding: 10px; 
    margin: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #login-btn {
        padding: 10px 15px;
    }

    .mic-btn {
        padding: 15px;
    }

    .mic-icon {
        width: 30px;
        height: 30px;
    }

    .modal-content {
        width: 80%;
    }
}